#clockContainer{
    position: relative;
    height: 40vw;
    width: 40vw;
    background-image: url(clock.png);
    background-size: 100%;
    margin: auto;
    background-repeat: no-repeat;
}

#hour,#minute,#second{
    position: absolute;
    background-color: black;
    border-radius: 10px;
    transform-origin: bottom;
}

#hour{
    width: 1.8%;
    height: 23%;
    left: 49%;
    top: 27%;
    opacity: 0.8;
}
#minute{
    width: 1.5%;
    height: 30%;
    left: 49.3%;
    top: 20.6%;
    opacity: 0.8;
}
#second{
    width: 1%;
    height: 40%;
    left: 49.5%;
    top: 10%;
    opacity: 0.8;
}